.themItem_limited-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Số lượng dòng tối đa bạn muốn hiển thị */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
